.page-content {
  padding-top: 122px;
  position: relative;
  z-index: 0;
}

// & before {

//   content: 'Hells Bells';
//   font-weight: bold;
//   font-size: 100px;
//   line-height: 100px;
//   letter-spacing: -0.03em;
//   background-clip: text;
//   color: transparent;
//   -webkit-background-clip: text;
//   background-image: linear-gradient(90deg, #747474 0%, #FFFFFF 100%);

//   padding: 10px;
//   position: absolute;
//   bottom: 25px;
//   z-index: -1;
// }
